@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(107 114 128) rgb(229 231 235);
}

/* Styles pour Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
  border-radius: 4px;
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-track {
    background: rgb(31 41 55);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(75 85 99);
  }
}
