@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(107 114 128) transparent;
}

/* Styles pour Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
  border-radius: 4px;
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(75 85 99);
  }
}

.custom-checkbox {
  background-color: rgb(31 41 55);
  border-radius: 4px; 
  border: 2px solid rgb(75 85 99); 
  width: 20px;
  height: 20px;
  appearance: none; 
  cursor: pointer;
  flex-shrink: 0;
}

.custom-checkbox:checked {
  background-color: rgb(4, 84, 245); 
}
